In [ ]:
# Exo 1

import math

list1 = [2, 3, 6]
product = math.prod(list1)

print(product)

In [ ]:
#fonction factoriel

def fact(n):
    f = 1
    for i in range(n):
        f = f * (i+1)
    
    print(f)
    
fact(5)

In [ ]:
#fonction factoriel avec returen

def fact(n):
    f = 1
    for i in range(n):
        f = f * (i+1)
    
    print(f)
    
    return f
    
x = fact(5)
print(x+1)

In [ ]:
budget = 200
def acheter(objet,prix):
    global budget #Global rends la variable ici budget global et non locale
    print('prix de l\'objet ', prix)
    print('L\'object achété : ', objet,' au prix de ', prix )
    budget = budget - prix
    
    return budget

acheter('XX',10)
print('le noveau budget est de',budget)

In [ ]:
## corrrection
budget = 3000
def acheter(prod,prix=1,qte=1,clr='noir'): #qte = une facon de l'initialiser
    global budget
    budget -= prix*qte
    print(f"j'ai acheté {qte} {prod} à {prix} {clr} DHS. Mon nouveau budget est de: {budget} DHS")
          
acheter('souris',100,clr='bleu')
acheter('Clavier',150)
# si le param a été initialisé nous pouvons ne plus le rentrer

In [ ]:
#exo 2 premiere facon de faire
data = [[4, 2, 7], [6, 8, 2],[1, 5, 3]]

# Sort based on the second element of each sublist
sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

In [ ]:
#exo 2 (seconde facon de faire)
List = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
    
def tri(X):
    return X[1]
    
print(sorted(List, key=tri))

In [ ]:
#Exo 3
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

res = {}

for n in d1.keys()|d2.keys():
    valeur1 = d1.get(n,0)
    valeur2 = d2.get(n,0)
    sum1 = valeur1 + valeur2
    res[n] = sum1

dictionnaire_trie = dict(sorted(res.items(), key=lambda x: x[0]))
#utiliser res.item()  carr un dico, et of course dict

print(dictionnaire_trie)
#Expected result: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [35]:
#Exo 3 second method

from itertools import chain

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'b': 300, 'a': 200, 'd':400}

res = {}

full = {**d1, **d2}
print("full : ",full.items())


for key in full:
    res[key] = d1.get(key,0)+d2.get(key,0)
    print(key)


print(res)

full :  dict_items([('a', 200), ('b', 300), ('c', 300), ('d', 400)])
a
b
c
d
{'a': 300, 'b': 500, 'c': 300, 'd': 400}

In [ ]:
#** pour faire passer des params via des dico, utile 
budget = 3000
marchandise = [
    {'prod':'Souris','clr':'bleu'},
    {'prod':'Clavier'},
    {'prod':'Clé Usb','qte':2}
]

for truc in marchandise:
    acheter(**truc)

In [ ]:
#version
promo = lambda prix:prix*0.75 if prix>500 else prix*0.9 if prix>100 else prix
print(promo(50))

In [33]:
## fonction Map
#Map prends une fct et une liste par ex et les appliauqes à tous les elements de la liste

maj = lambda text : text.upper()
maj('hello')

'HELLO'

In [ ]:
names = ['mounia','Mohamed','Omar','damien','guillaume']
maj = lambda text : text.upper()
print(names)
print(list(map(maj,names)))

In [ ]:
data2 = [1,2,3,4]
factorial = lambda n: 1 if n == 0 else n * factorial(n - 1)
print(list(map(factorial,data2))) # map => map(param ou fonction a app, data set)
# Utilisation de la fonction lambda
print(factorial(5))  # Affiche 120

In [ ]:
#Exo 5
def sort_tuple_by_float(tuple_list):
    sorted_tuple = sorted(tuple_list, key=lambda x: x[1],reverse=True)
    return sorted_tuple

# code
my_tuple =  [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted_tuple = sort_tuple_by_float(my_tuple)
print(sorted_tuple)
print("expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]")
#Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
#Reste exo 4 et 6